body {
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
    color: #797979;
}

.wrapper {
    max-width:1000px;
    margin: 0 auto;
    padding:2em;
}

.title {
    text-align: right;
    color: #00C8D6;
    padding-right: 1rem;
    font-size: 1.5em;
    font-weight: bold;
}

.date {
    padding-right: 1rem;
    text-align: right;
}

.content {
    line-height: 1.2em;
    white-space: pre-line;
    margin-top: -.75em;
}

.rank {
    padding-right: .5em;
    font-size: 1.75em;
    margin: 0 auto;
    text-align: right;
}

input, textarea, button {
    margin:.25em;
}

.post-actions {
    text-align: right;
}

a {
    text-decoration: none;
    color: #FF8400;
}

a:hover {
    color: #f42a00;
}
.not-active {
    color: #ffc873;
}

a.not-active:hover {
    color: #FF8400;
}

a.active:hover {
    color: #FF8400;
}

a.not-active:active {
    color: #FF8400;
}