{% extends 'main.html' %}
{% block post_template %}
<script type="text/template" id="form-template">
    <div class='form title-information' data-id="form-template-container">
        <form class="pure-form form-template" id="{7}" action="{0}" method="{1}">
            <fieldset>
                <div class="pure-g">
                    <div class="pure-u-3-8 title-information">
                        <input type="hidden" name="pk" class="form-pk" value="{2}">
                        <input type="text" name="title" class="form-title" placeholder="Title" value="{3}">
                        <input type="text" name="rank" class="form-rank" placeholder="1" value="{4}">
                    </div>
                    <div class="pure-u-5-8">
                        <textarea class="pure-input-1 form-content " name="content" placeholder="Content">{5}</textarea>
                    </div>
                </div>
                <button type="submit" class="title-information pure-button pure-button-primary">{6}</button>
                <button type="submit" value="cancel" class="cancel-button title-information pure-button pure-button-primary">Cancel</button>
            </fieldset>
        </form>
    </div>
</script>
{% endblock post_template%}