{% extends "main.html" %}
{% block body %}
<form class="pure-form" action="/new/" method="POST">
    <fieldset>
        <legend>Submit a new Bulletin!</legend>
        <div class="pure-g">
            <div class="pure-u-1-1">
                <input type="text" name="title" placeholder="Title">
                <input type="text" name="rank" placeholder="Rank">
            </div>
            <div class="pure-u-1-1">
                <textarea class="pure-input-1" name="content" placeholder="Content"></textarea>
            </div>
        </div>

        <button type="submit"  class="pure-button pure-button-primary">Post!</button>
    </fieldset>
</form>
{% endblock %}