{% extends "main.html" %}
    {% block scripts %}
    <script type="text/javascript">

        $(function () {
            $(".rank-link").click(function () {
                var dataId = $(this).attr("data-id");
                var id = $(this).attr('id');
                if (dataId == id + "-up") {
                    id = id + "-down";
                    $("a[data-id=" + id + "]").removeClass( "active" ).addClass( "not-active" );
                }
                if (dataId == id + "-down") {
                    id = id + "-up";
                    $("a[data-id=" + id + "]").removeClass( "active" ).addClass( "not-active" );
                }
                $(this).toggleClass("not-active active");
                $.ajax({
                    type: "PUT",
                    url: $(this).attr("href")
                });
                return false;
            });

            function toggleDivDisplay(elementoOne, elementTwo) {
                elementoOne.slideToggle();
                elementTwo.slideToggle();
                //return elementTwo
            }

            function sendRequestAndDelete(request, elementToDelete, messageBox) {
                    elementToDelete.slideToggle().remove();
                    messageBox.slideToggle().remove();
                    $.ajax(request);
            }

            $(".delete-post").click(function (e) {
                var dataId = $(this).attr("data-id");
                var parentDiv = $("#" + dataId);
                var confirm = $("<div class='confirm' id='" + dataId +"-confirm' ><a href='/post/" + dataId +
                        "/' class='confirm-delete' data-parent-id='" + dataId +
                        "'>Delete?</a> <a href='#' class='confirm-keep'>Keep!</a></div>");
                var elementHeight = parentDiv.height();
                confirm.css("height", elementHeight + "px").css("line-height", elementHeight + "px");
                confirm.hide();
                parentDiv.after(confirm);
                var request = {
                    // need to change this to DELETE after i'm done testing
                    type: "POST",
                    url: $(this).attr("href")
                };
                toggleDivDisplay(parentDiv, confirm);
                $(".confirm-delete").click( function () {
                    sendRequestAndDelete(request, parentDiv, confirm);
                    //confirm.slideUp().remove();
                    return false;
                });
                $(".confirm-keep").click(function () {
                    //var confirm = $(".confirm");
                    parentDiv.slideToggle(400);
                    confirm.slideToggle(400, function(){$(this).remove()});
                    return false;
                });
                return false;
            });

        });
    </script>
    {% endblock %}
    {% block body %}
        <div id="dialog-confirm"></div>
        {% for post in posts %}
            <div class="pure-g" id="{{ post.pk }}">
                <div class="pure-u-3-8 title-information">
                    <div class="pure-g">
                       <div class="pure-u-1-1 title">
                           {{ post.title }}
                       </div>
                       <div class="pure-u-1-1 date">
                           {{ post.date }}
                       </div>
                       <div class="pure-u-1-1 rank">
                           <a href="/rank/{{ post.pk }}/1/" data-id="{{ post.pk }}-up" id="{{ post.pk }}" class="rank-link {{ post.up_active }}">▲</a>
                       </div>
                       <div class="pure-u-1-1 rank">
                           <a href="/rank/{{ post.pk }}/-1/" data-id="{{ post.pk }}-down" id="{{ post.pk }}" class="rank-link {{ post.down_active }}">▼</a>
                       </div>
                    </div>
                </div>
                <div class="pure-u-5-8 content">
                    {{ post.content }}
                </div>
                <div class="pure-u-1-1 post-actions">
                    <a href="/post/{{ post.pk }}/" class="delete-post" data-id="{{ post.pk }}">delete</a> <a href="/edit/{{ post.pk }}/" class="edit-post">edit</a> <a href="/post/{{ post.pk }}/" class="rank-post">rank</a>
                </div>
            </div>
        {% endfor %}
{% endblock %}